# Get this token from https://discord.com/developers/applications
BOT_TOKEN=
BYOD_API_IP=
BYOD_API_KEY=
BYOD_API_PORT=3000

DATABASE=./sqlite.db

# Filter Checker (input: google.com, output: blocked[], unblocked[], error[])
FC_URL=https://example.com/fc
FC_API_KEY=

# Masqr licensing
MASQR_URL=
MASQR_PSK=
