# Get this token from https://discord.com/developers/applications
BOT_TOKEN=
API_IP=
API_KEY=
API_PORT=3000

DB_PORT=5432
DB_USER=dispenser
DB_PASSWORD=password
DB_NAME=dispenser
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}
