# Get this token from https://discord.com/developers/applications
DISCORD_TOKEN=
DATABASE_URL=./database.db

# Masqr licensing
MASQR_URL=
MASQR_PSK=

# BYOD api
BYOD_API_IP=
BYOD_API_KEY=
BYOD_API_PORT=3000

# Filter Checker (input: google.com, output: blocked[], unblocked[], error[])
FC_URL=https://example.com/fc
FC_API_KEY=

